@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro&display=swap');

.toggle {
    margin-left: 50px;
    margin-top: 30px;
}

.toggle .toggle-cb {
    display: none;
}

.toggle .toggle-label .toggle-inner {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: 2px solid #c4c4c5;
    background-color: #ebebeb;
    cursor: pointer;
}

.toggle .toggle-label .toggle-inner::before {
    content: 'No';
    color: #c4c4c5;
    font-size: 30px;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    position: absolute;
    left: 140px;
    top: 40px;
}

.toggle .toggle-cb:checked ~ .toggle-label .toggle-inner {
    display: block;
    background-color: #e4043c;
}

.toggle .toggle-cb:checked ~ .toggle-label .toggle-inner::before {
    content: 'Yes';
    color: white;
    left: 90px;
}

.toggle .toggle-label .toggle-inner::after {
    content: '';
    border: 2px solid #c4c4c5;
    background-color: white;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    position: absolute;
    top: 20px;
    left: 40px;
    transition: 0.3s;
}

.toggle .toggle-cb:checked ~ .toggle-label .toggle-inner::after {
    left: 160px;
}
